body {
  /*outline: 1px solid green;*/
  margin-top: 0;
}

nav {
  /*outline: 1px solid red;*/
  position: fixed;
  z-index: 2;
  background: white;
  margin-top: 0;
}

.cabecera {
  /*outline: 1px solid red;*/
  height: 80px;
  padding-left: 20px;
}

.icon1 {
  /*outline: 1px solid black;*/
  color: #d13434;
  font-size: 40px;
  float: left;
  padding: 10px;
  margin: 8px;
}

.buscador {
  width: 1000px;
  height: 40px;
  background: #dddbdb;
  float: left;
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
   }

.iconos {
   /*outline: 1px solid green;*/
  float: left;
  margin:10px 10px 10px 10px;
   }
.icon2{
     /*outline: 1px solid black;*/
     display: inline-block;
     font-size: 20px;
     margin:10px 10px 10px 10px;
     padding: 10px;
     color: #aaa9a9;
   }
ul {
    /*outline: 1px solid green;*/
    height: 80px;
    padding-left: 100px;
    list-style: none;
    }

.bloque1,.bloque2,.bloque3,.bloque4,.bloque5,.bloque6,.bloque7,.bloque8,.bloque9 {
  float: left;
  margin: 10px 11px 10px 11px;
  padding: 17px 23px 0px 23px;
  font-size: 15px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.bloque1 {
  background: #8B7765;
}

.bloque2 {
  background:#CDAF95;
}

.bloque3 {
  background: #8B7E66;
}

.bloque4 {
  background: #8B5742;
}

.bloque5 {
  background: #929333;
}

.bloque6 {
  background:#8B7765;
 }

.bloque7 {
  background: #8B8386;
}

.bloque8 {
  background:#8B5742;
}

.bloque9 {
  background: #CD8162;
}

section {
  position: relative;
  padding-top: 200px;
  padding-left: 50px;
  z-index: 1;
}

section div {
  float: left;
  margin: 10px 10px 10px;
}

img {
  width: 280px;
  border-radius: 15px 15px 15px 15px;
}

article {
width: 280px;
font-family:sans-serif;
}

h4{
  font-size: 15px;
  margin: 20px 5px 5px 5px;
}

p{
  font-size: 15px;
  margin: 10px 5px 5px 5px;
}

.logo {
  /*outline: 1px solid red;*/
  width: 12px;
  height: 12px;
  padding: 8px 10px 10px 10px;
  border-radius:50%;
  background: #cc8aa5;
  color: white;
  margin: 0px;
  }

.datos {
  display: block;
}

.negritas {
  font-weight: bold;
  font-size: 13px;
  margin: 0;
}

.correo {
  font-size: 13px;
  margin: 0;
}
